@{
    ViewData["Title"] = "A propos";
}

<div class="about">
    <p>Auteurs</p>

    <ul>
        <li>Pierre-Etienne BEAU (Architecte .Net chez Ai3)</li>
        <li>Louis-Guillaume MORAND (Tech Lead chez Microsoft Azure Global Black Belt)</li>
        <li>Sebastien MORNAS (Tech Lead chez Microsoft Consulting)</li>
        <li>David ROZEN (Tech Lead chez Microsoft Consulting)</li>
    </ul>

</div>
